{% extends "base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>My Blog</h1>
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>

    <div class="vote-buttons">
      <form action="{% url 'post:post_vote' post.pk 'like' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">👍 {{ post.likes }}</button>
      </form>
      <form action="{% url 'post:post_vote' post.pk 'dislike' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">👎 {{ post.dislikes }}</button>
      </form>
    </div>

    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with paginator=paginator page_obj=posts %}
{% endblock %}